:root {
    --corFundo: hsl(0, 0%, 85%);
    --corFundo2: hsl(0, 0%, 90%);
    --accentColor: hsl(120, 29%, 20%);
    --textColor: hsl(30, 50%, 70%);
}

.redes-sociais {
    align-items: center;
}
.links{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    color:blue;
}
.links:hover{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    color: rgb(69, 97, 255);
}

.img{
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 0px;
    align-items: center;
    overflow: hidden;       /* garante que a imagem seja recortada em círculo */
    object-fit: cover;      /* preenche a área cortando proporcionalmente */
    border: 6px solid var(--accentColor);
    

}