.paragrafo-footer {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    padding: 1em;
}

.paragrafo-footer a {
    text-decoration: none;
    color: var(--textColor);
    transition: color 300ms ease;
}

.paragrafo-footer a:hover{
    color: var(--corFundo);
}