:root {
    --corFundo: hsl(131, 10%, 85%);
    --corFundo2: hsl(131, 10%, 90%);
    --accentColor: hsla(120, 30%, 20%);
    --textColor: hsl(30, 20%, 85%);
}

.logo {
    display: inline-block;
}

nav {
    position: relative;
    display: inline-block;
}

ul {
    width: 100%;
    display: flex;
    gap: 4vmin;
    align-items: center;
    list-style-type: none;
    margin-right: 4vmin;
}

ul a {
    font-size: 2vmin;
    font-weight: bold;
    text-decoration: none;
    color: var(--textColor);
    transition: color 500ms ease;
}

ul a:hover{
    color: hsl(30, 20%, 100%);
}

header {
    position: sticky;
    top: 0;
    bottom: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--accentColor);
    z-index: 2;
}

.botao_home {
    position: fixed;
    display: flex;
    height: 3rem;
    width: 3rem;
    right: 2%;
    bottom: 5%;
    border: 2px solid black;
    border-radius: 10px;
    z-index: 1;
}

.botao_home:hover {
    background-color: var(--corFundo);
}

#login {
    transform: translateY(3px);
}
