body {
    background-image: url('../img/Frades.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--corFundo);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

main {
    display: flex;
    color: hsl(131, 10%, 10%);
    background-color: hsla(131, 10%, 90%, 67%);
    border-radius: 10px;
    padding: 3em;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    margin-top: 5%;
}

input {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.cadastrar {
    justify-self: center;
}