* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: #fbfbfb;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




.sobre {
    background-color: hsla(0, 0%, 95%, 0.8);
    margin: 2rem;
    opacity: 100%;
    border-radius: 8px;
    width: 1100px;
    justify-self: center;
    padding: 60px 80px;
}

.pedraAlpina {
    background-color: hsla(0, 0%, 95%, 0.8);
    margin: 2rem;
    opacity: 100%;
    border-radius: 8px;
    width: 1100px;
    justify-self: center;
    padding: 60px 80px;
}

.trilhaJacu {
    background-color: hsla(0, 0%, 95%, 0.8);
    margin: 2rem;
    opacity: 100%;
    border-radius: 8px;
    width: 1100px;
    justify-self: center;
    padding: 60px 80px;
}

.trilhaTangara {
    background-color: hsla(0, 0%, 95%, 0.8);
    margin: 2rem;
    opacity: 100%;
    border-radius: 8px;
    width: 1100px;
    justify-self: center;
    padding: 60px 80px;
}