
main {
    background-color: var(--corFundo);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#imgTopo {
    display: flex;
    justify-self: center;
    justify-content: center;
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    background: url(/img/montanhasTere2.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

#imgTopo::before {
    content: attr(data-content);
    font-size: 2rem;
    font-weight: bolder;
    color: #333;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#imgTopo:hover::before {
    opacity: 80%;
}

.corpoSobre, .trilha, .conclusao {
    background-color: var(--corFundo2);
    margin: 2rem;
    opacity: 100%;
    border-radius: 8px;
    width: 1100px;
    justify-self: center;
    padding: 60px 80px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.sobre {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 25px;
}

.textoTrilha {
    display: flex;
    padding: 15px;
    align-items: center;
}

.textoTrilha p {
    padding: 15px;
    margin-right: 50px;
}

.textoTrilha img {
    border-radius: 5px;
}

.pJacu {
    margin-left: 50px;
}

.objetivo, .conclusaoTitulo, .sobre {
    border-bottom: 2px solid gray;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 25px;
}

#objective, #about, #conclusion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.corpoObjetivo {
    display: grid;
    grid-template-columns: 40rem 40rem;
    gap: 20px;
}

.corpoObjetivo div{
    background-color: var(--corFundo2);
    font-size: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    height: 100px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.corpoObjetivo div:hover {
    transform: translateY(-5px);
    background-color:#209c58;
    color: var(--corFundo2);
}

footer {
    background-color: var(--accentColor);
    color: var(--textColor);
}

.paragrafo-footer {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.paragrafo-footer a {
    text-decoration: none;
    color: var(--textColor);
}

.paragrafo-footer a:hover{
    color: #209c58;
}

.footerContato {
    display: flex;
    justify-items: center;
    margin-left: 34%;
    margin-bottom: 20px;
}

.botao_home {
    position: fixed;
    display: flex;
    height: 3rem;
    width: 3rem;
    right: 2%;
    bottom: 2%;
    border: 2px solid black;
    border-radius: 50px;
    z-index: 1;
}

.botao_home:hover {
    background-color: var(--corFundo);
}

.informacao{
    display: flex;
    flex-shrink: 0 ;
    gap: 0.5em;
}

.card{
    
    padding: 1em;
    text-align: center;
    border: 0.5em;
    margin: 0.8em;

}
.card h1{
    font-family: 'Times New Roman', Times, serif;

}

.card p{
    color: #555;
}
.img{
    border-radius: 5px; 
    margin: 0.8em;
    height: 10%;
}