
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: #fbfbfb;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#imgTopo:hover .tituloTopo {
    background-color: azure;
    object-fit: cover;
    align-items: center;
    position:absolute;
    bottom: 50%;
    left:30%;
    transition: opacity 2s ease;
}

.tituloTopo {
    align-items: center;
    position:absolute;
    bottom: 50%;
    left:30%;
}

.corpoSobre, .pedraAlpina, .trilhaJacu, .trilhaTangara {
    background-color: #f2f2f2cc;
    margin: 2rem;
    opacity: 100%;
    border-radius: 8px;
    width: 1100px;
    justify-self: center;
    padding: 60px 80px;
}

.sobre {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 25px;

}
.geral{
     font-family:'Times New Roman', Times, serif;
}

.banner{
    flex-shrink: 0 ;
    gap: 0.5em;
    background-image: linear-gradient(transparent, #325832);
    box-shadow: 0.8px 15px -6px black;
    
}


.principal{
    background-color: hsl(0, 0%, 73%);

}

.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    text-align: center;
    border: 0.5em;
    margin: 0.8em;
    gap: 2em;
    
}

.card h1{
    font-family: 'Times New Roman', Times, serif;
    padding: 0.8em;
    color:  hwb(32 82% 12%);
    text-shadow:3px 3px 10px #000000;
}

.card p{
    color: #efe3e3;
}

.img{
    border-radius: 5px; 
     margin: 0.8em;
     height: 10%;
}


.caixa{
    max-width: 1276px;
    margin: auto;

}
.btn{
    background-color: beige ;
    border-radius: 4px;
    font-size: 1.1rem;
    text-decoration: none;
    padding: 0.1rem 4.6rem;
    display: inline-block;
    margin-top: 1.2em;
  
    

}

.menu_trilhas{

}

.texto_trilhas{

}

.trilha{
    
}

.cabecalho_rodape_cores{
    background-color: hsla(120, 30%, 20%); 
    color:  hsl(30, 20%, 85%); 
}

.rodape{
    height: 8em;
    width: 20rem;
}

.rodape h2{
    text-align: center;
  
}

