
main {
    background-color: var(--corFundo);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#imgTopo {
    display: flex;
    justify-self: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 67vmin;
    background: url("https://mateusty.github.io/MVP-FrontEnd/img/montanhasTere2.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

#imgTopo::before {
    content: attr(data-content);
    font-size: 2rem;
    font-weight: bolder;
    color: #333333;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#imgTopo:hover::before {
    opacity: 80%;
}

#imgsdo {
    display: flex;
    justify-self: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 67vmin;
    background: url(/img/sdo2.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

#imgsdo::before {
    content: attr(data-content);
    font-size: 2rem;
    font-weight: bolder;
    color: #000000;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.541);
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#imgsdo:hover::before {
    opacity: 80%;
}

#imgtres_picos{
    position:relative;
    width:100%;
    height: 67vmin;
    background: url(/img/teste_picos.avif);
    background-repeat: no-repeat;
    background-position:center center;
    background-size: cover;
}

#imgtres_picos::before {
    content: attr(data-content);
    font-size: 2rem;
    font-weight: bolder;
    color: #000000;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.541);
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#imgtres_picos:hover::before {
    opacity: 80%;
}


.corpoSobre, .trilha, .conclusao {
    background-color: var(--corFundo2);
    margin: 2rem;
    opacity: 100%;
    border-radius: 8px;
    width: 1100px;
    justify-self: center;
    padding: 60px 80px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.sobre {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 25px;
    
}


.titulo {
    display: flex;
    justify-content: left;
    position: relative;
    margin-left: 250px;
    margin-bottom: -50px;
}

.titulo2 {
    display: flex;
    justify-content: right;
    position: relative;
    margin-right: 300px;
    margin-bottom: -50px;
}

.titulo_trilhas h1{
    text-align: center;
}
.textoTrilha {
    display: flex;
    padding: 15px;
    align-items: center;
    
}

.textoTrilha p {
    padding: 15px;
    margin-right: 50px;
    background-color: #5555551a;
    border-radius: 8px;
}

.textoTrilha img {
    border-radius: 5px;
}

.pJacu {
    margin-left: 50px;
}

.objetivo, .conclusaoTitulo, .sobre {
    border-bottom: 2px solid gray;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 25px;
}

#objective, #about, #conclusion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.corpoObjetivo {
    display: grid;
    grid-template-columns: 40rem 40rem;
    gap: 20px;
}

.corpoObjetivo div{
    background-color: var(--corFundo2);
    font-size: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    height: 100px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.corpoObjetivo div:hover {
    transform: translateY(-5px);
    background-color:#209c58;
    color: var(--corFundo2);
}

footer {
    background-color: var(--accentColor);
    color: var(--textColor);
}

.paragrafo-footer {
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.paragrafo-footer a {
    text-decoration: none;
    color: var(--textColor);
   
}

.paragrafo-footer a:hover{
    color: #209c58;
}

.botao_home {
    position: fixed;
    display: flex;
    height: 3rem;
    width: 3rem;
    right: 2%;
    bottom: 2%;
    border: 2px solid black;
    border-radius: 50px;
    z-index: 1;
}

.botao_home:hover {
    background-color: var(--corFundo);
}


.informacao{
    display: flex;
    flex-shrink: 0 ;
    gap: 0.5em;
    box-shadow: 0.8px 15px -6px black;
    
}

.itens{
    padding: 10px;
}

.geral{
    scroll-behavior: smooth;
}

.principal{
    background-color: var(--corFundo);

}

.card{
    background-color: var(--corFundo2);
    width: 1100px;
    height: 300px;
    display: flex;
    padding: 60px 80px;
    text-align: center;
    justify-content: center;
    letter-spacing: .1rem;
    box-shadow: 0 1px 8px 0px rgb(255, 255, 255);
    font-size: 17px;
}


.section_titulo{
    padding: 3.5rem;
    text-align: center;
}
.img{
    border-radius: 5px; 
    margin: 0.8em;
    height: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img_trilhas{
    width: 25em;
    height: 25em;
    display: block;
}

.img_sessao_trilhas{
  width: 350px;           
  height: 350px;           
  border-radius: 50%;    
  border: 2px solid #ccc;
  opacity: 0.9;           
  object-fit: cover;
  box-shadow: 0 2.5px 8px 2.5px rgb(255, 255, 255);
}


.caixa{
    max-width: 1276px;
    margin: auto;
    padding: 1px;

}
.btn{
    color:  hsl(30, 20%, 85%);
    background-color: hsla(120, 30%, 20%);
    border-radius: 4px;
    font-size: 1.1rem;
    text-decoration: none;
    padding: 0.3rem 4.6rem;
    display: inline-block;
    margin-top: 1.2em;
    transition-property: all;
    transition-duration: 1s;
    
}
.btn:hover{
    background: rgb(45, 103, 45);
    box-shadow: 0 0px 2px 2px rgb(26, 80, 29);
    color:  hsl(30, 32%, 93%);

}
.section_btn{
    margin: 2rem 0;
}


.menu_trilhas{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 2rem;
 
    
}

.titulo_trilhas{
    letter-spacing: .1rem;
    text-align: center;
    text-decoration:underline;
    text-underline-offset: 10px;
    padding: 20px;

}

.section_titulo{
    letter-spacing: .2rem;
     text-decoration:underline;
     text-underline-offset: 10px;
}

.trilhas{
    text-align: center;
    padding: 10px;
}

.trilha_picos{
    background-color: var(--corFundo2);
    display: flex;
    margin: 2rem;
    opacity: 100%;
    border-radius: 8px;
    width: 1100px;
    justify-self: center;
    padding: 60px 80px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}
.trilha_picos h3{
    text-decoration: underline;
    text-underline-offset: 5px;
}

.texto_trilhas p{
    padding: 1px;
    background-color: #5555551a;

}

.texto_trilhas_ver_mais{
    width: 400px;
    height: 400;
    display: flex ;
    align-items: center;
    text-align: center;
}

.texto_trilhas_ver_mais p{
    object-position: center;
    text-align: center;
    padding: 20px 10px;
    background-color: #5555551a;
    letter-spacing: .1rem;
    margin: 0;
    
}

.menu_cards{
    border: 1px, solid rgb(255, 255, 255);
    border-radius: 10px;
    flex: 0 0 5em;
    background-color: var(--corFundo2);
    box-shadow: 0 5px 15px -6px rgb(255, 255, 255);
    
}

.cabecalho_rodape_cores{
    background-color: hsla(120, 30%, 20%); 
    color:  hsl(30, 20%, 85%); 
}

.rodape{
    height: 8em;
    width: 20rem;
    color: var(--textColor);
}

.rodape h2{
    text-align: center;
  
}


