
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: #fbfbfb;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#imgTopo:hover .tituloTopo {
    background-color: azure;
    object-fit: cover;
    align-items: center;
    position:absolute;
    bottom: 50%;
    left:30%;
    transition: opacity 2s ease;
}

.tituloTopo {
    align-items: center;
    position:absolute;
    bottom: 50%;
    left:30%;
}

.corpoSobre, .pedraAlpina, .trilhaJacu, .trilhaTangara {
    background-color: #f2f2f2cc;
    margin: 2rem;
    opacity: 100%;
    border-radius: 8px;
    width: 1100px;
    justify-self: center;
    padding: 60px 80px;
}

.sobre {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 25px;
>>>>>>> 4a379d0327ba0ffa11fa5f2071a8683f44f69363
}
<<<<<<< HEAD
.informacao{
    display: flex;
    flex-shrink: 0 ;
    gap: 0.5em;
}

.card{
    
    padding: 1em;
    text-align: center;
    border: 0.5em;
    margin: 0.8em;

}
.card h1{
    font-family: 'Times New Roman', Times, serif;

}

.card p{
    color: #555;
}
.img{
    border-radius: 5px; 
     margin: 0.8em;
     height: 10%;
}