
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: var(--corFundo);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#imgTopo {
    display: flex;
    justify-self: center;
    justify-content: center;
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    background: url(/img/montanhasTere2.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

#imgTopo::before {
    content: attr(data-content);
    font-size: 2rem;
    font-weight: bolder;
    color: #333;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#imgTopo:hover::before {
    opacity: 80%;
}

.corpoSobre, .pedraAlpina, .trilhaJacu, .trilhaTangara {
    background-color: var(--corFundo2);
    margin: 2rem;
    opacity: 100%;
    border-radius: 8px;
    width: 1100px;
    justify-self: center;
    padding: 60px 80px;
}

.sobre {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 25px;
}

.informacao{
    display: flex;
    flex-shrink: 0 ;
    gap: 0.5em;
}

.card{
    
    padding: 1em;
    text-align: center;
    border: 0.5em;
    margin: 0.8em;

}
.card h1{
    font-family: 'Times New Roman', Times, serif;

}

.card p{
    color: #555;
}
.img{
    border-radius: 5px; 
    margin: 0.8em;
    height: 10%;
}