:root {
    --corFundo: hsl(0, 0%, 20%);
    --accentColor: hsl(120, 30%, 20%);
    --textColor: hsl(30, 50%, 70%);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--corFundo);
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.logo {
    display: inline-block;
}

nav {
    position: relative;
    display: inline-block;
}

ul {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    list-style-type: none;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: var(--textColor);
}

a:hover{
   opacity:0.5;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--accentColor);
}