@media (max-width: 768px) {

    .local {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info {
        display: flex;
        margin-left: 150px;
    }
}

@media (min-width: 768px) {
    .info {
        display: inline-flex;
        position: absolute;
    }
    
    .local {
        transition: transform 500ms ease;
    }

    .local:hover {
        transform: translateX(25px);
    }
}
main {
    background: 
        linear-gradient(hsla(0, 0%, 50%, 0.4), hsla(0, 0%, 100%, 0.4)),
        url(/img/backgroundIndex.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
}

figure {
    display: inline-block;
}

.local {
    background-color: hsla(0, 0%, 95%, 0.8);
    margin: 2rem;
    opacity: 100%;
    border-radius: 8px;
    width: 1100px;
    justify-self: center;
    padding: 60px 80px;
}

figure {
    max-width: 600px;
}

figure img {
    width: 100%;
    border-radius: 8px;
}

figure figcaption {
    text-align: center;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

.info h2 {
    font-size: 1.8rem;
    color: black;
}

.info p {
    display: flex;
    justify-self: center;
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

.btn {
    background-color: #1f3d1f;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    height: 100px;
    width: 400px;
    padding: 10px 20px;
    margin-top: 8vmin;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #2d592d;
    color: var(--textColor);
}

.botao_home {
    position: fixed;
    display: flex;
    height: 3rem;
    width: 3rem;
    right: 2%;
    bottom: 5%;
    border: 2px solid black;
    border-radius: 10px;
    z-index: 1;
}

.botao_home:hover {
    background-color: var(--corFundo);
}