body{
    color: #103f16c5;
    background-image: url('../img/portal-de-hercoles.png');
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
input,button{
    border:none ;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    width:-webkit-fill-available;
}

input:hover{
transition: 500ms;
opacity: 0.5;
}
button:hover{
transition: 500ms;
opacity: 0.5;
}
form{
    padding: 50px;
    background-color: rgba(253, 253, 253, 0.384);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}