body{
    align-items: center;
    justify-content: center;
    background: url(../img/Frades.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
    overflow: hidden;
    padding: 0;
}

button , input{
    background-color: #fff;
    border:none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    width:-webkit-fill-available;
}

button:focus{
    opacity:0.4;
}

button:hover {
    transition: 300ms;
    opacity: 0.7;
}

input:hover{
    transition: 500ms;
    opacity: 0.7;
}

form{
    width: 300px;
    
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
label{
    color: whitesmoke;
}
