body{
    color: #103f16c5;
    background-image: url('../img/pedras-da-tartaruga.png');
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
button,input{
    border:none ;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    width:-webkit-fill-available;
}
form{
    width: 300px;
}
.guia{
    display: flex;
    white-space: nowrap;
    
}

button:focus{
    transition: 50ms;
    opacity:0.4;
}
input:hover{
    transition: 1s;
    opacity: 0.4;
}
form{
     padding: 50px;
    background-color: rgba(253, 253, 253, 0.384);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cadastrar{
    border-radius: 10px;
    border: 0px solid;
    background-color: rgba(174, 230, 151, 0.774);
    height: 25px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-left: 85px;

}
